nifiLogTracer.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>21769987-018b-1000-3124-98766d7bdfac</groupId>
    <name>nifiLogTracer</name>
    <snippet>
        <processGroups>
            <id>734bfe09-1675-39e8-0000-000000000000</id>
            <parentGroupId>08acfe1b-e659-3d7a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>734bfe09-1675-39e8-beae-88bc81421575</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>19cc71e4-ad42-3aa2-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <versionedComponentId>19cc71e4-ad42-3aa2-8b1c-a46964a41c97</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>42b3da61-ae75-3ea9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>42b3da61-ae75-3ea9-9fa1-61ddaf7b0899</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>866a433b-e190-3fea-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>866a433b-e190-3fea-adce-e1b0884dc64a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4fb5859b-c6ee-3549-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <versionedComponentId>4fb5859b-c6ee-3549-a33e-9575b69a698f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>6ea72ba0-d826-338b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6ea72ba0-d826-338b-8cea-9487f952a701</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>42b3da61-ae75-3ea9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>42b3da61-ae75-3ea9-9fa1-61ddaf7b0899</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9241ed98-248a-3de7-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <versionedComponentId>9241ed98-248a-3de7-9196-234aead24069</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>176ce3ef-3b5c-3eee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>176ce3ef-3b5c-3eee-a55a-5093e6cbeb9e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>866a433b-e190-3fea-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>866a433b-e190-3fea-adce-e1b0884dc64a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c17679f9-4239-3e0d-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <versionedComponentId>c17679f9-4239-3e0d-9f33-f5b77219a758</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>6ea72ba0-d826-338b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6ea72ba0-d826-338b-8cea-9487f952a701</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>176ce3ef-3b5c-3eee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>176ce3ef-3b5c-3eee-a55a-5093e6cbeb9e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c352cb59-03d4-3ae9-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <versionedComponentId>c352cb59-03d4-3ae9-bb42-5fb8c9a815ba</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>866a433b-e190-3fea-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>866a433b-e190-3fea-adce-e1b0884dc64a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>734bfe09-1675-39e8-0000-000000000000</groupId>
                        <id>36dc6d19-321d-3936-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>36dc6d19-321d-3936-952e-d5b426098409</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>176ce3ef-3b5c-3eee-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-64.0</x>
                        <y>-1496.0</y>
                    </position>
                    <versionedComponentId>176ce3ef-3b5c-3eee-a55a-5093e6cbeb9e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>
    <name>Maximum Capture Group Length</name>
</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>
    <name>Enable Canonical Equivalence</name>
</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>
    <name>Enable Case-insensitive Matching</name>
</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>
    <name>Permit Whitespace and Comments in Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>
    <name>Enable DOTALL Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>
    <name>Enable Literal Parsing of the Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>
    <name>Enable Multiline Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>
    <name>Enable Unicode-aware Case Folding</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>
    <name>Enable Unicode Predefined Character Classes</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>
    <name>Enable Unix Lines Mode</name>
</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>
    <name>Include Capture Group 0</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>
    <name>extract-text-enable-repeating-capture-group</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>
    <name>extract-text-enable-named-groups</name>
</value>
                            </entry>
                            <entry>
<key>resultString</key>
<value>
    <name>resultString</name>
</value>
                            </entry>
                            <entry>
<key>resultString2</key>
<value>
    <name>resultString2</name>
</value>
                            </entry>
                            <entry>
<key>resultString3</key>
<value>
    <name>resultString3</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>10240</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>true</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>false</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>false</value>
                            </entry>
                            <entry>
<key>resultString</key>
<value>(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{3} ERROR).*\n</value>
                            </entry>
                            <entry>
<key>resultString2</key>
<value>(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{2} ERROR).*\n</value>
                            </entry>
                            <entry>
<key>resultString3</key>
<value>(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{1} ERROR).*\n</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetError</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExtractText</type>
                </processors>
                <processors>
                    <id>36dc6d19-321d-3936-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-712.0</x>
                        <y>-1736.0</y>
                    </position>
                    <versionedComponentId>36dc6d19-321d-3936-952e-d5b426098409</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>tail-mode</key>
<value>
    <name>tail-mode</name>
</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>
    <name>File to Tail</name>
</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
<value>
    <name>Rolling Filename Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Post-Rollover Tail Period</key>
<value>
    <name>Post-Rollover Tail Period</name>
</value>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
<value>
    <name>tail-base-directory</name>
</value>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>
    <name>Initial Start Position</name>
</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>
    <name>File Location</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>
    <name>tailfile-recursive-lookup</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>
    <name>tailfile-lookup-frequency</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>
    <name>tailfile-maximum-age</name>
</value>
                            </entry>
                            <entry>
<key>reread-on-nul</key>
<value>
    <name>reread-on-nul</name>
</value>
                            </entry>
                            <entry>
<key>Line Start Pattern</key>
<value>
    <dependencies>
        <dependentValues>Single file</dependentValues>
        <propertyName>tail-mode</propertyName>
    </dependencies>
    <name>Line Start Pattern</name>
</value>
                            </entry>
                            <entry>
<key>pre-allocated-buffer-size</key>
<value>
    <name>pre-allocated-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>Max Buffer Size</key>
<value>
    <dependencies>
        <propertyName>Line Start Pattern</propertyName>
    </dependencies>
    <name>Max Buffer Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>tail-mode</key>
<value>Single file</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>/opt/nifi/logs/nifi-app.log</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
                            </entry>
                            <entry>
<key>Post-Rollover Tail Period</key>
<value>1 sec</value>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>Beginning of Time</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>Local</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>true</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>30 seconds</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>1 hours</value>
                            </entry>
                            <entry>
<key>reread-on-nul</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Line Start Pattern</key>
                            </entry>
                            <entry>
<key>pre-allocated-buffer-size</key>
<value>65536 B</value>
                            </entry>
                            <entry>
<key>Max Buffer Size</key>
<value>64 KB</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>TailFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.TailFile</type>
                </processors>
                <processors>
                    <id>42b3da61-ae75-3ea9-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-64.0</x>
                        <y>-1640.0</y>
                    </position>
                    <versionedComponentId>42b3da61-ae75-3ea9-9fa1-61ddaf7b0899</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>
    <name>Maximum Capture Group Length</name>
</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>
    <name>Enable Canonical Equivalence</name>
</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>
    <name>Enable Case-insensitive Matching</name>
</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>
    <name>Permit Whitespace and Comments in Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>
    <name>Enable DOTALL Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>
    <name>Enable Literal Parsing of the Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>
    <name>Enable Multiline Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>
    <name>Enable Unicode-aware Case Folding</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>
    <name>Enable Unicode Predefined Character Classes</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>
    <name>Enable Unix Lines Mode</name>
</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>
    <name>Include Capture Group 0</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>
    <name>extract-text-enable-repeating-capture-group</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>
    <name>extract-text-enable-named-groups</name>
</value>
                            </entry>
                            <entry>
<key>resultString</key>
<value>
    <name>resultString</name>
</value>
                            </entry>
                            <entry>
<key>resultString2</key>
<value>
    <name>resultString2</name>
</value>
                            </entry>
                            <entry>
<key>resultString3</key>
<value>
    <name>resultString3</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>10240</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>true</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>false</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>false</value>
                            </entry>
                            <entry>
<key>resultString</key>
<value>(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{3} WARN).*\n</value>
                            </entry>
                            <entry>
<key>resultString2</key>
<value>(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{2} WARN).*\n</value>
                            </entry>
                            <entry>
<key>resultString3</key>
<value>(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{1} WARN).*\n</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetWarn</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExtractText</type>
                </processors>
                <processors>
                    <id>6ea72ba0-d826-338b-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>600.0</x>
                        <y>-1560.0</y>
                    </position>
                    <versionedComponentId>6ea72ba0-d826-338b-8cea-9487f952a701</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/opt/nifi/getLog.sh</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>${resultString.0};${resultString2.0};${resultString3.0}</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteStreamCommand</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>866a433b-e190-3fea-0000-000000000000</id>
                    <parentGroupId>734bfe09-1675-39e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-712.0</x>
                        <y>-1496.0</y>
                    </position>
                    <versionedComponentId>866a433b-e190-3fea-adce-e1b0884dc64a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <logFileSuffix></logFileSuffix>
            <name>filterLog.D</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/23/2024 15:12:27 KST</timestamp>
</template>
